{% extends "base.html" %}
{% load static %}
{% load bag_tools %}



{% block content %}
<div class="mb-3">
    <div class="row">
        <div class="col text-center my-3">
            <h2>Shopping Bag</h2>
        </div>
    </div>
    <!--Mobile View-->
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card w-75 shadow p-3 bg-white rounded checkoutCard">
                {% if bag_items %}
                <div class="d-block d-md-none">
                    {% for item in bag_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% if product.image %}
                                <img class="card-img-top img-fluid" src="{{ item.product.image.url }}"
                                        alt="{{ product.name }}">   
                                {% else %}
                                <img class="card-img-top img-fluid"
                                        src="/static/images/product_images/no_image.webp" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="mb-5"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-1 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            <p class="my-1">Price Each: €{{ item.product.price }}</p>
                            <p><strong>Subtotal: </strong>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col">
                            {% include "bag/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        {% include "bag/total-price-section.html" %}                        
                    </div>
                    <div class="d-flex inline">
                        {% include "bag/bag-buttons.html" %}
                    </div>
                </div>
                <!--End Mobile View-->
                <!--Desktop View-->
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Product Info</th>
                                <th scope="col">Price</th>
                                <th class = "quantityHeader" scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if product.image %}
                                <img class="card-img-top img-fluid" src="{{ item.product.image.url }}"
                                        alt="{{ product.name }}">   
                                {% else %}
                                <img class="card-img-top img-fluid"
                                        src="/static/images/product_images/no_image.webp" alt="{{ product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                {% include "bag/quantity-form.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-center">
                                {% include "bag/total-price-section.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-center">
                                {% include "bag/bag-buttons.html" %}
                            </td>
                        </tr>
                    </table>
                </div>
                <!--End Desktop View-->
                {% else %}
                <p class="text-center">There is nothing in your bag!</p>
                <a href="{% url 'products' %}" class="btn btn-secondary text-center mx-auto">Continue Shopping <i
                        class="fa-solid fa-angles-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}



{% endblock %}