{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
{% include "profiles/modal.html" %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col text-center my-5">
            <h2> Saved Delivery Addresses</h2>
            <a href="{% url 'profile' %}" class="btn btn-secondary rounded-0 mt-3 mx-auto"><i class="fa-solid fa-angles-left"></i> Back to Profile
            </a>
        </div>
    </div>
    <div class="row">
        {% for address in user_address %}
        <div class="col-md-4 mb-5 d-flex justify-content-center">
            <div class="card w-75 shadow p-3 bg-white rounded checkoutCard">
                <div class="row">
                    <div class="col text-center mb-3">
                        <p> Street Address 1: {{ address.street_address1 }} </p>
                        <p> Street Address 2: {{ address.street_address2 }} </p>
                        <p> Town or City: {{ address.town_or_city }} </p>
                        <p> County: {{ address.county }} </p>
                        <p> Postcode: {{ address.postcode }} </p>
                        <p> Country: {{ address.country }} </p>
                        {% if address.is_primary %}
                        <p><small>This is your primary address </small><i class="fa-solid fa-key"></i></p>
                        {% else %}
                        <a href="{% url 'set_primary_address' address.id %}"> <small>Make Primary Address</small></a>
                        {% endif %}
                        <button class="btn"><a href="{% url 'edit_address' address.id %}"> <small>Edit</small></a></button>
                        <button class="btn address-delete" address_id="{{address.id}}" type="button">
                            <small>Delete</small></button>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
        <div class="col text-center my-5">
            
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
<script src="{% static 'js/delete_address.js' %}"></script>
{% endblock %}