{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col text-center my-3">
            <h2>Edit Address</h2>
        </div>
    </div>
    <!--Form-->
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="card w-75 shadow p-3 bg-white rounded checkoutCard">
                <div class="row">
                    <div class="col text-center mb-3">
                        <form class="mt-3" action="{% url 'edit_address' address.id %}" method="POST" id="address-update-form">
                            {% csrf_token %}
                            {{ addressform|crispy }}
                            <button class="btn btn-secondary rounded-0 mt-5" type="submit">Save Changes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}