html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-Slab', sans-serif;
}

footer {
    background-color: rgb(165, 221, 243);
    margin-top: auto;
    font-family: 'Roboto-Slab', sans-serif;
}

footer li {
    list-style-type: none;
}

.slider {
    width: fit-content;
}

#carouselControls .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(238, 176, 247, 0.719);
}

a {
    text-decoration: none;
    color: rgb(47, 57, 61);
}

a:hover {
    color: rgb(94, 125, 136);
}

.carousel-caption h5 {
    font-size: 3rem;
}

.shopLink:hover {
    color: rgb(94, 125, 136);
}

.socialLinks {
    font-size: 3rem;
}

.shopBag {
    font-size: 2rem;
}

.allauthLinks {
    text-decoration: underline;
    color: rgb(6, 175, 241);
}

.bag {
    list-style-type: none;
    padding: 0;
}

.banner {
    background-color: pink;

}

.remove-item {
    cursor: pointer;
}

.orderSum {
    margin-top: 3rem;
}

.quantityHeader {
    text-align: center !important;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

@media only screen and (min-width: 768px) {
    #carouselControls .carousel-item img {
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height: 80vh;
        width: 50vw;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand { 
        margin-right: 0 !important;
    }

    .checkoutCard {
        width: 90vw !important;
    }

    .quantityForm {
        justify-content: left !important;
    }
}

