{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Bakery</title>

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <!--Google Fonts CSS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab:wght@100..900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome CSS-->
    <script src="https://kit.fontawesome.com/41aa291a02.js" crossorigin="anonymous"></script>

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/images/bakery_logo.png" alt="logo"
                        height="80" width="80"></a>
                <button class="navbar-toggler  order-first" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                                <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Create Account</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=Whole%20Cakes">Whole
                                        Cakes</a></li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=Cupcakes">Cupcakes</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'products' %}?category=Cake%20Slices">Cake
                                        Slices</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Shopping Bag-->
                <span class="order-last d-flex mt-2 align-items-center">
                    <ul class="bag">
                        <li class="text-center">
                            <a href="{% url 'bag' %}" class="shopBag"><i class="fa-solid fa-bag-shopping"></i>
                            </a>
                        </li>
                        <li>
                            <p class="my-0">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </li>
                    </ul>
                </span>
                <!--End of Shopping Bag-->
            </div>
        </nav>
        <!--End of Navbar-->

        <!-- Django Messages Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible
                fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--End of Messages Container-->
        <!--Free Delivery Banner-->
        <div class="row text-center">
            <div class="col banner">
                <h4 class="my-1">Free delivery on orders over €50!</h4>
            </div>
        </div>
        <!--End of Free Delivery Banner-->
        <!--Search Bar-->
        <div class="m-4">
            <form class="d-flex  
            offset-md-4 col-md-4 mb-2 mt-2" method="GET" action="{% url 'products' %}">
                <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
        </div>
        <!--End of Search Bar-->
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="row">
            <div class="col-md-4 d-flex  
            align-items-center  
            justify-content-center">
                <!--Address-->
                <ul class="p-0">
                    <li>25 Cupcake Row</li>
                    <li>Dublin</li>
                    <li>Ireland</li>
                    <li>01-111222</li>
                </ul>
            </div>
            <div class="col-md-4 d-flex  
            align-items-center  
            justify-content-center">
                <!--social links-->
                <ul class="p-0">
                    <li class="d-inline p-2 socialLinks"><a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                    </li>
                    <li class="d-inline p-2 socialLinks"><a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    </li>
                    <li class="d-inline p-2 socialLinks"><a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 d-flex  
            align-items-center  
            justify-content-center">
                <!--other links-->
                <ul class="p-0">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    {% endblock %}

</body>

</html>